
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300&display=swap');


/*this is overall class formatting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.team-header {
    display: flex;
    justify-content: center;
    color: white;
}

.body--carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 0 35px;
    background: linear-gradient(to left top, #ffffff, #270949);
}

.wrapper {
    max-width: 1100px;
    width: 100%;
    position: relative;
}

.wrapper i {
    height: 50px;
    width: 50px;
    background: white;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 50%;
    font-size: 1.25rem;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px black;
}

.wrapper i:first-child {
    left: -22px;
}

.wrapper i:last-child {
    right: -22px;
}


.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 3) - 12px);
    gap: 16px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    scrollbar-width: 0;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel :where(.card,.img) {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel.no-transition {
    scroll-behavior: auto;

}

.carousel.drag {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.drag .card {
    cursor: grab;
    user-select: none;
}

.carousel .card {
    scroll-snap-align: start;
    height: 341px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card .img {
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card h2 {
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span {
    color: #6a6d78;
    font-size: 1.31rem;
}


a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.header {
    background-color: #e8f0f7;
    position: fixed;
    top: 0;
    width: 100%;
}

.bar-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 155px;
    padding-bottom: 20px;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.nav__link {
    color: #270949;
}

.nav__link:hover,
.nav__link:focus {
    color: #6500d8;
    transition: all 0.2s;
}

.btn {
    color: white;
    background-color: #270949;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #6500d8;
}

.hamburger {
    display: none;
}

.hambuger-bar {
    height: 2px;
    width: 27px;
    background-color: #270949;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e8f0f7;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}


.one {
    background: rgb(255, 0, 0);
}

.two {
    background: rgb(43, 255, 0);
}

.three {
    background: rgb(0, 47, 255);
}

/* FOR JS */
.nav--open {
    transform: translateX(0%) !important;
}

.hamburger--open .hambuger-bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .hambuger-bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .hambuger-bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

@media (max-width: 900px) {
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 12px);
    }

}

/* MOBILE DEVICE */
@media (max-width: 650px) {
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }

    .nav {
        position: fixed;
        top: 90px;
        left: 0;
        background-color: #e8f0f7;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link {
        font-size: 14px;
    }

    .btn {
        font-size: 11px;
        padding: 7px 17px;
    }

    .hamburger {
        display: block;
    }
}




