
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&family=Montserrat:wght@300&display=swap');


/*this is overall class formatting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;

}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    background-color: #e8f0f7;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.bar-content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo__img {
    width: 155px;
    padding-bottom: 20px;
}

.nav {
    transition: all 0.3s ease-in-out;
}

.nav__list {
    display: flex;
    column-gap: 40px;
}

.nav__link {
    color: #270949;
}

.nav__link:hover,
.nav__link:focus {
    color: #6500d8;
    transition: all 0.2s;
}

.btn {
    color: white;
    background-color: #270949;
    padding: 8px 20px;
    border-radius: 1000px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #6500d8;
}

.hamburger {
    display: none;
}

.hambuger-bar {
    height: 2px;
    width: 27px;
    background-color: #270949;
    margin: 5px 0;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    scroll-snap-align: start;
}

.container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    font-weight: 300;
    flex-direction: column;
    margin: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.container::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}

/* FOR JS */
.nav--open {
    transform: translateX(0%) !important;
}

.hamburger--open .hambuger-bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.hamburger--open .hambuger-bar:nth-child(2) {
    opacity: 0;
}

.hamburger--open .hambuger-bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.img1 {
    position: absolute;
    background-image: url(images/bg-img.jpg);
    filter: blur(3px);
}

.img2 {
    background-image: url(images/bg-img2.jpg);

}

.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: -1;
}

.blur {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.500);
    width: 100%;
    height: 100%;
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(2px);
}

/*
h1{
    top: 10%;
    padding-left: 50px;
    position: absolute;
    z-index: 2;
    font-size: 8vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
}
*/

.showcase-area .container {
    top: 0;
    left: 10%;
    right: 0;
    z-index: 1;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}

.big-title {
    font-size: 1.4rem;
    color: #100f13;
    text-transform: capitalize;
    line-height: 1.2;
    animation: fadeIn 0.7s;
}

.text {
    color:#26242e;
    font-size: 1.1rem;
    margin: 1.9rem 0 2.5rem;
    max-width: 600px;
    line-height: 2.3;
    animation: fadeIn 0.7s;
}

.btn-body {
    display: inline-block;
    color: white;
    background-color: #270949;
    padding: 0.9rem 1.9rem;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    transition: all 0.2s;
    box-shadow: 0 0 40px 2px rgba(0, 0, 0, 0.05);
    animation: fadeIn 0.7s;
}

.btn-body:hover {
    background-color: #6500d8;
}

#btnuser {
    top: 100px;
    position: relative;
    transform: translate(130%, -149px);
}

.phone-img {
    width: 80%;
    transform: translate(-10%, 50px);
    animation: fadeIn 0.6s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.below-area {
    z-index: 1;
    display: grid;
    position: absolute;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
}

/* MOBILE DEVICE */
@media (max-width: 650px) {
    .nav {
        position: fixed;
        top: 90px;
        left: 0;
        background-color: #e8f0f7;
        width: 100%;
        padding: 10px 0 25px;
        transform: translateX(-100%);
    }
    
    .nav__list {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

    .nav__link {
        font-size: 14px;
    }

    .btn {
        font-size: 11px;
        padding: 7px 17px;
    }

    .hamburger {
        display: block;
    }
}




